dataset/
Elastic/
.idea/
pickle/
__pychache__/
train.svm
test.svm
dev.svm
train.exe
liblinear-2.45
*.pyc
runs/
checkpoints/
checkpoints_old/
results_from_joyeux/
camembert/eval.txt
camembert/test_predictions.pth
camembert/test_results.csv
result_camembert/
